
/* big tablets up to 1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 20px;
    }
    .row { padding: 0 20px; } /* issue: logo (row) snaps to width at different time than hero-text-box. main-nav also overlaps weird, is that because of float:right? */
}

/* small tablets and large tablets up to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
}
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .steps-box { margin-top: 10px; }
    .works-step { margin-bottom: 40px; }

    /*
    .steps-box:last-child { margin-top: 10px; }
    .works-step:last-of-type { margin-bottom: 40px; }
    .works-step div { 
        float: none; 
    }
    */

/* iPhone and small tablets up to 767px */
@media only screen and (max-width: 767px) {
    
}

/* iphone up to 480px */
@media only screen and (max-width: 480px) {

}

