/* --------
Colors
Orange: #eaa934
Dark Orange: #d59116
Purple: #3a2b85be
--------*/


/* ----------------------------- */
/* Basic Setup */
/* ----------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------- */
/* Reusable Components */
/* ----------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
section { padding: 80px 0px; }
.box { padding: 1%; }

/* ----------------------------- */
/* ------ Headings -------- */
/* ----------------------------- */

h1, 
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
}
h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #eaa934;
    content: "  ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 2px;
}

/* ------Paragraphs---------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: justify;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------Icons---------- */
ion-icon {
    --ionicon-stroke-width: 19px;
    font-size: 300%;
    display: block;
    color: #eaa934;
    margin-bottom: 15px;
}

/* ----------------------------- */
/* ------ Buttons -------- */
/* ----------------------------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    margin-right: 20px;
    background-color: #eaa934;
    border: 1px solid #eaa934;
    color: #fff;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #eaa934;
    color: #eaa934;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #d59116;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #d59116;
    
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #d59116;
    color: #fff;
}

/* ----------------------------- */
/* Header */
/* ----------------------------- */

header {
    background-image: linear-gradient(#3a2b85be, rgba(0, 0, 0, 0.801)), url(img/ovenpipe.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 5px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 45px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
}
.main-nav li a:active,
.main-nav li a:hover { border-bottom: 2px solid #d59116; }

/* ----------------------------- */
/* FEATURES */
/* ----------------------------- */
.section-features .long-copy { margin-bottom: 20px; }

/* ----------------------------- */
/* GALLERIES */
/* ----------------------------- */
.section-galleries { padding: 0; }
.galleries-showcase {
    list-style: none;
    width: 100%;
}
.galleries-showcase li {
    display: block;
    float: left;
    width: 25%;
}
.galleries-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.galleries-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.galleries-photo img:hover {
    opacity: 1;
    transform: scale(1.04);
}
/* ----------------------------- */
/* STEPS */
/* ----------------------------- */
.section-steps { background-color: rgb(241, 241, 241); }
.steps-box:first-child {
    margin-top: 30px;
    text-align: right;
    padding-right: 5%;
}
.steps-box:last-child {
    margin-top: 70px;
    padding-left: 3%;    
}
.app-screen { width: 40%; }
.works-step { margin-bottom: 50px; }
.works-step:last-of-type {
    margin-bottom: 80px; 
}
.works-step div {
    color: #eaa934;
    border: 2px solid #eaa934;
    display: block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    padding: 7px;
    float: left;
    margin-right: 20px;
}
.works-step p { padding-top: 15px; }
.btn-app img {
    height: 50px;
    width: auto;
}
/* ----------------------------- */
/* CITIES */
/* ----------------------------- */
.small-icon {
    --ionicon-stroke-width: 40px;
    font-size: 120%;
    display: inline-block;
    color: #eaa934;
    margin-bottom: 0px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 7px;
}
li { list-style: none; }
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature { margin-bottom: 5px; }
/* ----------------------------- */
/* TESTIMONIALS */
/* ----------------------------- */
.section-testimonials {
    background-image: linear-gradient(#3a2b85de, rgba(0, 0, 0, 0.87)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
cite img {
    height: 45px;
    border-radius: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
/* ----------------------------- */
/* Pricing */
/* ----------------------------- */
.section-plans { background-color: rgb(241, 241, 241); }
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 95%;
    padding: 5% 5%;
    box-shadow: 0 6px 4px #e7e7e7
}
.plan-box div { padding: 15px; }
.plan-box div:last-child {
    text-align: center;
    margin-top: 20px;
}
.plan-box div:first-child {
    background-color: rgb(252, 252, 252);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.plan-price {
    color: #eaa934;
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
}
.plan-price span {
    font-size: 30%;
    font-weight: 300;
}
.plan-price-ebox {
    font-size: 80%;
    margin-bottom: 20px;
}
.plan-box ul li { padding: 5px 0; }

/* ----------------------------- */
/*--FORM--*/
/* ----------------------------- */


.contact-form {
    width: 60%;
    margin: 0 auto;
}
.form-fields {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type=checkbox] {
    margin: 10px 5px 10px 0;
}
*:focus { outline: none; }

/* ----------------------------- */
/*--FORM--*/
/* ----------------------------- */

footer {
    background-image: linear-gradient(#3a2b85de, rgba(0, 0, 0, 0.87)), url(img/ovenpipe.jpg);
    background-attachment: fixed;
    font-size: 70%;
}
.footer-nav {
    list-style: none;
    float: left;
}
.social-links {
    list-style: none;
    float: right;
    font-size: 40%;
    color: #888
}
.footer-nav li,
.social-links li {
    display: inline-block;
    margin: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: rgb(165, 165, 165);
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active { color: #ddd; }
/*.logo-facebook li a:hover {
    color: #fff;
}*/
footer p {
    text-align: center;
    font-size: 90%;
}
.test-icon {
    color: #888;
}
.test-icon:hover,
.test-icon:active {
    color: rgba(189, 29, 29, 0.849);
}

/* Can't get whole contact form to show, is it an issue with clearfix or is it an adaptive grid issue? 
Or is it something with ionicons v4 (Jonah's using v2)
Tried re-parenting the form but can't get some CSS formatting to stick

sizing, color issue with .social-links - won't change color, only size changes under .social-links

Also can't get 
.logo-facebook li a:hover
to change colors - need to change each of the social links to their own color on :hover
*/
